@charset "utf-8";

body{
    background: black url('imagens/fundo-madeira.jpg') center center no-repeat fixed;
    background-size: cover;
    margin: 0;
}
main{
    background: url('imagens/frame-iphone.png') center center no-repeat fixed;
    height: 100vh;
}

iframe{
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 267px;
    height: 474px;
}

main>a{
    display: flex;
    justify-content: right;
}

main>a>img{
    width: 50px;
    margin: 4px;
    border-radius: 100px;
    text-align: right;
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.336);
    
}
main>a>img:hover{
    border: 1px solid white;
    transform: translateX(-8%) translateY(-8%);
    transition: 0.5s;
}

iframe>img{
    height: 100vw;
    
}